@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

body {
	margin: 0;
}

main {
	width: 100vw;
	height: 100vh;
	background-color: hsl(0, 0%, 95%);
}

button {
	background-color: hsl(0, 0%, 95%);

	border: 2px solid transparent;
	border-radius: 25px;

	padding: 1rem 2rem 1rem 2rem;

	width: fit-content;

	font-family: 'Lexend Deca', sans-serif;
	font-size: 15px;
	font-weight: 400;

	transition: 0.15s ease-in-out;
}

button:hover {
	border: 2px solid hsl(0, 0%, 95%);
	color: hsl(0, 0%, 95%);
}

.button-1 {
	color: hsl(31, 77%, 52%);
}
.button-1:hover {
	background-color: hsl(31, 77%, 52%);
}
.button-2 {
	color: hsl(184, 100%, 22%);
}
.button-2:hover {
	background-color: hsl(184, 100%, 22%);
}
.button-3 {
	color: hsl(179, 100%, 13%);
}
.button-3:hover {
	background-color: hsl(179, 100%, 13%);
}

h1 {
	color: hsl(0, 0%, 95%);
	font-family: 'Big Shoulders Display', sans-serif;
	font-size: 42px;
	margin: 0;
	font-weight: 700;
}

p {
	font-size: 16px;
	color: hsla(0, 0%, 100%, 0.75);
	font-family: 'Lexend Deca', sans-serif;
	font-weight: 400;
	line-height: 1.8;
	margin: 0;
}

.main-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

	width: 245px;
	height: 500px;

	padding: 2rem 3rem 2rem 3rem;
}

.card-1 {
	background-color: hsl(31, 77%, 52%);
	border-radius: 10px 0 0 10px;
}
.card-2 {
	background-color: hsl(184, 100%, 22%);
}
.card-3 {
	background-color: hsl(179, 100%, 13%);
	border-radius: 0 10px 10px 0;
}

@media (max-width: 375px) {
	.main-container {
		flex-direction: column;
	}

	.card-container {
		height: 400px;
	}

	.card-1 {
		border-radius: 10px 10px 0 0;
	}

	.card-3 {
		border-radius: 0 0 10px 10px;
	}

	main {
		height: auto;
		width: auto;
	}
}
